.App {
  text-align: center;
}
nav{
  background-color: red;
  color: white;
  font-weight: 700;
  width: auto;
  height: 27px;
  text-align: left;
  font-size: 20px;
}

nav a{
  color: white;
  text-decoration: none;
  font-size: 12px;
  margin-left: 12px;
}